- name: NFS server installation and setup
  hosts: "{{ host_ip }}" # the public ip of the host to apply the ansible configuration
  become: true
  gather_facts: no
  user: ubuntu
  
  tasks:
    - name: Update /etc/hostname file
      lineinfile:
        dest: /etc/hostname
        line: "{{ hostname }}"
        owner: root
        group: root
        state: present

    - name: Generate /etc/hosts file
      lineinfile: 
        dest: /etc/hosts 
        regexp: '^127\.0\.0\.1 localhost'
        insertafter: '^127\.0\.0\.1 localhost'
        line: '127.0.0.1 {{ hostname }}'
        owner: root
        group: root
        mode: 0644
        state: present

    - name: Install nfs on the compute instance
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
        - nfs-kernel-server
        - nfs-common
        - python-pip

    - name: Create the export nfs directory
      file:
        path: /nfs
        state: directory
        mode: "u=r,g=r,o=rwx" # might need to change these privileges
        recurse: yes

    - name: Format the volume
      filesystem:
        fstype: xfs   # this is the filesystem type to format the mount with
        dev: /dev/vdb # location of the mount - figure out how to fetch this dynamically

    - name: Mount volume to nfs directory
      mount:
        path: /nfs
        src: /dev/vdb
        fstype: iso9660
        state: present

    # 3. change dir permissions
    - name: Make nfs directory accessible to all
      file:
        path: /nfs
        owner: nobody
        group: nogroup

    - name: chmod 777 equivalent
      file:
        path: /nfs
        mode: u=rwX,g=rwX,o=rwX
        recurse: yes

    - name: Create exports file
      lineinfile: 
        dest: /etc/exports 
        regexp: '^#*'
        insertafter: '^#*'
        line: "/nfs {{ network_ip }}(rw,sync,fsid=0,crossmnt,no_subtree_check,no_root_squash)"
        owner: root
        group: root
        mode: 0644
        state: present

# 5. export the /nfs directory as sudo - sudo exportfs -a
# the above command isn't necessary 

    - name: restart nfs server
      service: 
        name: nfs-kernel-server 
        state: restarted

